* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url(./images/body-background-1.webp);
    color: #d3d7dc;
    background-color: #181f4a;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.5px;
  }
  .top-header .navbar {
    height: 70px;
    position: fixed;
    left: 260px;
    right: 0;
    top: 0;
    padding: 0 1.5rem;
    z-index: 10;
    transition: ease-out 0.3s;
    align-items: center !important;
    display: flex;
  }
  .gap-4 {
    gap: 1.5rem !important;
  }
  .navbar-expand {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  .navbar-expand .nav-right-links {
    flex-direction: row;
    gap: 0.25rem !important;
    align-items: center !important;
    display: flex;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
  }
  
  .top-header .navbar .nav-item {
    height: 70px;
    display: flex;
    align-items: center;
  }
  .dropdown {
    position: relative;
  }
  .dropdown > a > img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 0.25rem;
    border: 1px solid rgb(255, 255, 255, 0.15) !important;
  }
  img {
    vertical-align: middle;
  }
  /* .top-header .navbar .nav-item .dropdown-menu{
    border: 1px solid rgba(226, 232, 240, 0.15);
  }
  .top-header .navbar .nav-item .dropdown-user{
    width: 260px;
    border-radius: 1rem;
  } */
  
  /* Sidebar */
  .sidebar-wrapper {
    background: #0f1535;
    border-right: 1px solid rgb(255, 255, 255, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    z-index: 12;
    transition: ease-out 0.3s;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.044), 0 2px 6px 0 rgba(0, 0, 0, 0.049);
  }
  .sidebar-wrapper .simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    margin: 0;
  }
  .simplebar-mask {
    direction: inherit;
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto !important;
    height: auto !important;
    z-index: 0;
  }
  .simplebar-offset {
    direction: inherit !important;
    box-sizing: inherit !important;
    resize: none !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
  }
  .simplebar-content-wrapper {
    width: auto;
    height: 100%;
    overflow: hidden scroll;
    direction: inherit;
    position: relative;
    display: block;
    visibility: visible;
    max-width: 100%;
    max-height: 100%;
    scrollbar-width: none;
  }
  .sidebar-wrapper .sidebar-header {
    display: flex;
    align-self: center;
    justify-content: start;
    width: 260px;
    height: 70px;
    padding: 0 1rem;
    gap: 0.5rem;
    z-index: 1;
    position: fixed;
    top: 0;
    transition: ease-out 0.3s;
  }
  .sidebar-wrapper .sidebar-header .logo-icon img {
    /* width: 50%; */
    border-radius: 50%;
    width: 70px;
  }
  .sidebar-wrapper .sidebar-nav {
    background: #0f1535;
    margin-top: 70px;
  }
  .sidebar-wrapper .sidebar-nav .metismenu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    list-style: none;
  }
  .sidebar-wrapper .sidebar-nav .metismenu li:first-child {
    margin-top: 5px;
  }
  .sidebar-nav .metismenu a {
    color: #a7acb1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 6px 16px;
    font-size: 15px;
    outline-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 0.5px;
    border-radius: 0.25rem;
    transition: all 0.3s ease-out;
    text-decoration: none;
  }
  .sidebar-nav .metismenu a .parent-icon {
    line-height: 1;
  }
  .sidebar-nav .metismenu a .child-icon i{
    font-size: 15px;
  }
  .sidebar-nav .metismenu a .parent-icon i {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }
  .sidebar-nav .metismenu a .menu-title{
    margin-left: 10px;
  }
  .sidebar-wrapper .sidebar-nav .metismenu li + li{
    margin-top: 5px;
  }
  .sidebar-wrapper .menu-label{
    padding: 10px 16px 10px 16px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  
  /* Main-wrapper */
  .main-wrapper{
    margin-top: 70px;
    padding-bottom: 20px;
    margin-left: 260px;
    transition: ease-out 0.3s;
  }
  .main-wrapper .main-content{
    padding: 1.5rem;
  }
  .main-wrapper .main-content .page-breadcrumb{
    margin-bottom: 1rem !important;
    align-items: center !important;
  }
  .main-wrapper .main-content .page-breadcrumb .breadcrumb-title{
    color:#e6ecf0;
    font-size: 20px;
    padding-right: 1rem !important;
  }
  
  /* filter */
  .filter{
    display: flex;
    flex-wrap: wrap;
  }
  .filter .col-auto{
    flex: 1 1 auto;
    width: auto;
  }
  .filter .col-auto .search{
    position: relative;
  }
  .filter .col-auto .search input{
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
  .filter .col-auto .search input.form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #d3d7dc;
    background: #0f1535;
    background-clip: padding-box;
    border-radius: 0.375rem;
    border: 1px solid rgb(255, 255, 255, 0.15);
  }
  .filter .col-auto .search span {
    /* font-size: 1.25rem; */
    margin-left: 1rem;
    transform: translateY(-50%) !important;
    left: 0;
    top: 50%;
    position: absolute;
  }
  .col-auto >select {
    padding:0.50rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #d3d7dc;
    background-color: #0f1535;
    background-clip: padding-box;
    border: 1px solid rgb(255, 255, 255, 0.15);
    border-radius: 0.375rem;
    margin-left: 1rem;
  }
  .col-auto > .btn{
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    gap: 0.5rem;
  }
  .col-auto > .btn button:not(:disabled){
    cursor: pointer;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    color: #fff;
    background-color: #0d6efd;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    font-weight: 500;
    text-align: center;
    border: 1px solid #0d6efd;
  }
  .col-auto > .btn button:not(:disabled):hover{
    background-color: #0b5ed7;
  }
  /**/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 90%;
    margin: 0 auto;
}

.box_container {
    width: 100%;
}

.header_container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 0; 
    background-color: burlywood;
    border-radius: 20px;
}

.logo_header {
    width: 200px;
    height: 100px;
    transition: transform 0.3s ease; 
    margin-top: -20px;
}

.logo_header:hover {
    transform: scale(1.3);
}

.header_menu1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 100px;
}

.header_menu1 ul li {
    margin-right: 20px;
}

.header_menu1 ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.header_menu1 ul li a:hover {
    color: white;
}

.header_menu2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-right: 100px;
}

.header_menu2 ul li {
  margin-right: 20px;
}

.header_menu2 ul li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.header_menu2 ul li a:hover {
  color: white;
}


.main_danhmuc_slideshow_taikhoan {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.main_danhmuc,
.main_slideshow,
.main_taikhoan {
    width: 20%; 
}

.boxtitle {
    color: #333;
    padding: 10px;
    background-color: burlywood;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #ccc solid;
    width: 100%; 
    text-align: center; 
}

.boxcontent {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
    width: 100%; 
}


.boxcontent form {
    margin-top: 10px; 
}

.boxcontent form input[type="text"],
.boxcontent form input[type="password"],
.boxcontent form input[type="checkbox"],
.boxcontent form input[type="submit"] {
    margin-bottom: 10px; 
}

.formtaikhoan input[type="text"],
.formtaikhoan input[type="password"] {
  width: 100%;
  border: 1px #ccc solid;
  padding: 5px 10px;
  border-radius: 5px;
}

.formtaikhoan input[type="submit"] {
  background-color:white;
  border-radius: 5px;
  padding: 10px;
  border: 1px #ccc solid;
}

.formtaikhoan input[type="submit"]:hover{
    background-color: #ccc;
}

.formtaikhoan li a {
  color: teal;
  text-decoration: none;
}

.formtaikhoan li a:hover {
  color: rgb(236, 227, 227);
  text-decoration: underline;
}

.menudoc ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  
  .menudoc ul li {
    padding: 10px 20px;
    background-color: #fff;
    border: 1px #ccc solid;
  }
  
  .menudoc ul li a {
    color: #666;
    text-decoration: none;
  }
  
  .menudoc ul li:hover {
    background-color: #ccc;
  }
/* Sản phẩm yêu thích */
  .like {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.mb10 {
    width: 25%; 
    margin-bottom: 20px;
    padding: 0 10px;
    box-sizing: border-box;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.top img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Sản phẩm nổi bật */
.noibat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.noibat img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.anh_gioithieu {
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    transition: transform 0.3s ease; 
}

.anh_gioithieu:hover {
    transform: scale(0.9); 
}

.hehe{
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
}

/* slide show */
* {box-sizing:border-box}


.slideshow-container {
  width: 710px;
  position: relative;
  margin: auto;
  margin-left: -220px;
}


.mySlides {
  display: none;
}

.mySlides img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* End slide show */



.boxcontent1 {
  border-left: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 200px;
  padding: 20px;
  flex: 1; 
}

.formtaikhoan input[type="text"],
.formtaikhoan input[type="password"] {
  margin-bottom: 8px; 
  padding: 8px; 
}

.formtaikhoan input[type="text"],
.formtaikhoan input[type="password"] {
  width: 80%; 
  max-width: 400px; 
  border: 1px #ccc solid;
  padding: 5px 10px;
  border-radius: 5px;
}

.dangki_container{
  display: flex;
}

.anh_dangki{
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
}

.anh_dangki img{
  width: 800px;
  height: 350px;
  margin: 25px;
  border-radius: 20px;
  transition: transform 0.3s ease; 
}

.dangki_anh:hover{
  transform: scale(1.1);
}
